#wp-html-title-editor-editor-container { margin-bottom: 2.99em !important; }
#wp-html-title-editor-editor-container #html-title-editor_tbl tr.mceLast { display: none; }
#html-title-editor_ifr { height: 40px !important; }
h3.wp-html-title { padding-left: 0 !important; }